body {
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #fff;
    box-shadow: 0px 0px 16px 21px #f7f7f74a;
}
a {
    text-decoration: none;
    color: #6a14b6;
}
a:hover {
    text-decoration: none;
    color: #bf24e6;
}
a.logo {
    color: #490e7e;
    display: flex;
    align-items: center;
}
a.logo:hover {
    color: #8c28e4;
}
a.register {
    color: #fff;
    background-color: #771ec1;
    padding: 6px 16px !important;
    margin-left: 5px;
    border-radius: 5px;
}
a.register:hover {
    background-color: #9831ec;
}
.logo img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.logo span {
    font-weight: bold;
    font-size: 20px;
}
h1 {
    font-size: 2.5rem;
    background: linear-gradient(270.16deg,#db87c7 -5.65%,#3612b3 107.99%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
h2 {
    font-size: 2.5rem;
    background: linear-gradient(270.16deg,#db87c7 -5.65%,#3612b3 107.99%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
h3 {
    color: #b169c2;
}
h2, h3 {
    font-weight: bold;
}
.title {
    font-weight: bold;
    font-size: 26px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.lead {
    font-size: 1.8rem;
    color: #000 !important;
}
.navbar .logo {
    width: 23px;
    margin-right: 5px;
}
.btn-primary {
    background-color: #771ec1;
    border: none;
    padding: 10px 20px;
    font-size: 19px;
}
.btn-primary:hover {
    background-color: #9a28f9;
}
.feature {
    padding: 30px;
    border-radius: 15px;
    background: linear-gradient(330deg,#f7ecff 14.16%,#e7e5ff 86.76%),#7670ab;
    color: #542db3;
    height: 100%;
}
.feature a {
    font-weight: bold;
    text-decoration: none;
    color: #7067df;
}
.feature a:hover {
    text-decoration: none;
    color: #af67df;
}
main {
    background-image: url(../images/back2.png);
    max-width: 100%;
    /*height: 100vh;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.header img {
    max-width: 100%;
}
section.header {

}
ul {
    list-style: none;
}
li {
    display: flex;
    align-items: center;
}
li::before {
    content: '\f704';
    font-family: "tabler-icons";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-top: 2px;
    display: inline-block;
    margin-top: 0px;
    margin-right: 5px;
}
.before li::before {
    color:#c0a286
}
.now li::before {
    color:#34d6ce;
}
.now li.before::before {
    color:#c0a286;
}
.now li.before {
    opacity: 0.1;
}
@media (min-width: 1200px){
    .h1, h1 {
        font-size: 4.5rem;
    }
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
footer {
    background-color: #512183;
    padding: 30px 0px;
}
footer img {
    width: 20px;
    margin-right: 5px;
}
footer h5.logo {
    font-weight: bold;
    color: #f2e3ff;
}
footer a {
    color: #f2e3ff;
}
footer a:hover {
    color: #fbf7ff;
}
footer .copy {
    font-weight: normal;
    font-size: 16px;
}

.container::-webkit-scrollbar, .scrollable::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

/* Track */
.container::-webkit-scrollbar-track, .scrollable::-webkit-scrollbar-track {
    background: #e5e3fa; 
}

/* Handle */
.container::-webkit-scrollbar-thumb, .scrollable::-webkit-scrollbar-thumb{
    background: #bfbaf3;
    border-radius: 5px;
}